<p>Many of us are stumped when it comes to choosing broadband.
  We’ve heard about fibre optic broadband and we know it’s probably the best way forward if you want speedy and reliable connectivity in our homes.
  But what is fibre optic broadband and how does it differ from the other offerings on the market?
  And more importantly, can you get it in your area?</p>
<p>This article will look at the answers to these questions and by the end you should have a better idea of the landscape of the broadband market, your choices, and where to look for the best deals.</p>
<p>What is fiber optic broadband?</p>
<p>Fibre optic broad-band is a technology that’s delivered through a mixed plastic and glass fibre optic cable that goes from the exchange to your home.
  The problem is that the infrastructure for fiber optic broadband has not been laid throughout all of Australia yet, so it’s not available to every home or business.</p>
<p>The Other Broad-band Technologies</p>
<p>The main technology that’s been used for home fixed broadband is ADSL.
  ADSL is passed over the BT copper cables of the telephone network and therefore is available to the majority of homes in Australia.</p>
<p>Mobile Broadband</p>
<p>Mobile broadband is nowhere near as fast as fibre optic broadband but it is extremely functional.
  You can of course take it on the go and get connectivity wherever you can get mobile operator signal.
  Traditionally, mobile broadband runs over the 4G connectivity signal, but this will soon be converted to the 5G network.
  The fourth generation of mobile broadband provides speeds of up to 14.4Mbps, which is comparable to most fixed line solutions.
  With the addition of a MiFi device it’s possible to run five devices off the same connection.
  This is great for those that want to use mobile broadband in groups out of the home, but also as a home broadband solution.</p>
<p>The challenge is that mobile broad-band is slightly less stable than fixed line, and 5G is at the beginning of its lifetime.
  As 5G gets better and better, there will be real possibilities for home owners and tenants to use mobile broadband as their main broadband service.
<p>Can you get fibre optic broadband?</p>
<p>The easiest way to find out if you can get fibre optic broadband is to type your address into the search field at the top of the DGtek website at dgtek.net.
  You'll also be able to run a live speed test to see how your current internet performs against the speeds delivered by DGtek fiber optic internet.
<p>Top Tip</p>
<p>Broadband is not just about speed, it’s also about getting the right solution for your budget and for your needs.
  Fibre optic is pricier than most other forms of broad-band, especially if you’re only using this for a few times a day, or even a few times a week for light activities.
  Fibre optic  is primarily designed for heavy consumers who are willing to pay a bit more to get faster speeds and higher data allowances at home or for their business.
</p>
